.container{
    background-color: rgb(255, 255, 247);
    text-align: center;
}

.fields{
    text-align: center;
    padding: 1rem;
}

.fields label{
    margin-right: 1rem;
}

.button{
    background-color: rgb(113, 198, 247);
    padding: 0 1em;
}